.navbar {
    a {
        color: rgba(0,0,0,.5);
    }
    .nav-item {
        padding: 0.5rem 1rem;
    }
    .total-items {
        border: 1px solid #F4790D;
        border-radius: 50%;
        color: #fff;
        padding: 2px;
        background-color: #F4790D;
    }
}